.main {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
}

.main-result-screen {
    margin-bottom: 30px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-result {
    margin: 10px;
    font-size: 60px;
}

.main-body {
    height: 450px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-grid {
    
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.body-grid input {
    margin: 5px;
    font-size: 16px;
}